name: cifar10-cnn-env
channels:
  - pytorch
  - nvidia
  - conda-forge
  - defaults
dependencies:
  - python=3.11
  - pip
  - numpy
  - pillow
  - matplotlib
  - tensorboard
  - onnx
  - onnxscript
  - graphviz
  - pytorch
  - torchvision
  - pytorch-cuda=12.1
  - pip:
      - torchinfo
      - torchviz
